.navigation {
 background-color: #000;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin-bottom: 100px;
}

/* a.button {
  text-decoration: none;
  background-color: #00ff00;
  width: 140px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  color: #666607;
  border: 2px solid;
  border-radius: 4px;
} */

a.button  {
  background-color: #00ff00;
  text-decoration: none;
  display: inline-block;
  padding: 12px 30px;
  color: #666607;
  border: 2px solid;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 24px;
}