.navigation {
 background-color: #000;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.photo-1 {
  float: left;
  margin: 10px;
}

.photo-2 {
  float: right;
}


